:root {
    --main-text-color: #e6dcdc;
    --menu-selection-text-color: #efcc00;
    --bold-color: #c8d2fa;
    --background-color: #141414;
    --link-hover-color: rgb(236,88,0);
}

@font-face {
    font-family:b612;src:url(font/B612-Regular.ttf)
}

@font-face {
    font-family:b612-italic;src:url(font/B612-Italic.ttf)
}

body {
    color: var(--main-text-color);
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: b612;    
}

#mainContainer {height: 100%; width:100%; position: fixed; top:0; left: 0;}


#myFace {
	width: 15vw; height: auto;
	float: right; margin: 10px;
	border-radius: 10px;
	margin-right: 1vw;
}