:root {
    --main-text-color: #e6dcdc;
    --menu-selection-text-color: #efcc00;
    --bold-color: #c8d2fa;
    --background-color: #141414;
    --link-hover-color: rgb(236,88,0);
}

@font-face {
    font-family:b612;src:url(font/B612-Regular.ttf)
}

@font-face {
    font-family:b612-italic;src:url(font/B612-Italic.ttf)
}

body {
    color: var(--main-text-color);
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: b612;    

}
#mainMenu {
    height: 3vh;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 1px
}

#mainMenu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flow-start;
    padding: 0;
    margin: 0
}
#mainMenu ul li {
    padding: 5px 10px
}

#mainMenu ul li a:link,#mainMenu ul li a:visited,#mainMenu ul li a:active {
    text-decoration: none;
    color: var(--main-text-color);
}

#mainMenu ul li a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

#projectIFrameContainer {
    width: 100%; height:97vh; padding: 0; margin: auto; overflow-y: hidden;
}

#projectIFrame {
    padding: 0; margin: 0;
    height: 97vh; width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: none;
}