:root {
    --main-text-color: #e6dcdc;
    --menu-selection-text-color: #efcc00;
    --bold-color: #c8d2fa;
    --background-color: #141414;
    --link-hover-color: rgb(236,88,0);
}

@font-face {
    font-family:b612;src:url(font/B612-Regular.ttf)
}

@font-face {
    font-family:b612-italic;src:url(font/B612-Italic.ttf)
}

html, body { min-height: 100%; margin: 0; padding: 0;}
html { font-size: calc(0.8 * (0.8em + 0.7vw));}

@media screen and (min-width: 1200px) {
    html { font-size: 20px;}
}

body {
    color: var(--main-text-color);
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: b612;    
}

#header {
    position: relative;
    top: 0; height: 4em; width: 100%;
    margin: 0; padding: 0;
    border-color: #fff;
    border-width: 0 0 1px;
    border-style: solid
}

.contentContainer {
    padding: 0 1vw;
}

#header h1, #header #tagLine {z-index: 1; position: absolute;
			      margin: 0; padding: 0;}
#tagLine {
	display: flex;
	flex-direction: column;	
	justify-content: flex-end;
}
#tagLine p {
    margin-top: 0.5vw;
    margin-bottom: 0px;
    text-align: right;
}

#header h1 {left: 1vw; bottom: 2px;
	    font-size: 2em;}
#header #tagLine {right: 1vw; bottom: 2px;}

#header .background {
    z-index: -1;
    position: absolute;
    top: 0px; left: 0px; width: 100%; height: 4em;
    overflow: none;
    display: block;
    -webkit-filter: blur(6px);
    object-fit: cover;
}

.menuDiv {
    padding: 0.5em 1vw; margin: auto 0;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 1px
}

.menuDiv ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flow-start;
    padding: 0;
    margin: 0
}

.menuDiv ul li {
    font-size: 1em;
    padding: 0; margin: 0;
    padding-right: 10px;
}

#myFace {
    width: 25vw; height: auto;
    max-width: 230px;
    float: left; margin: 10px;
    border-radius: 10px;
    margin-left: 1vw;
}

.imgTextGroup .imgFrame, .videoContainer {
    float: right;
    width: 40%;    
}

.videoContainer video {
    width: 100%;
    display: none;
}

.imgFrame {padding: 1em;}

.imgFrame img {width: 100%;}

.videoContainer .buttonContainer {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: space-around;
}

#florenceButton {grid-column: 1;}
#michaelButton {grid-column: 2;}

.videoButton {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    background-color: #888;
    margin: 0 2em;
}

.imgFrame .imgCaption {
    width: 100%;
    text-align: center;
    border-style: dashed;
    border-color: #fff;
    border-width: 1px 0 0 0;
    font-size: 0.8em;
    padding: 0.5em;
    font-style: italic;
}

#zoomMenu { width: 20%;}

#skillsSection h3, #resumeSection h3 {text-align: center; margin-left: auto; margin-right: auto}
@media screen and (min-width: 450px) {
    
.skill { /* for skinny displays*/
    padding: 0.5em; margin: auto;
    height: 2em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
}

#skillsSection h4 { 
    margin: auto; text-align: center;
    padding-top: 1em;
}


.skillScore, .skillName {
    margin: 0; padding-left: 0.5em; 
}

.skillScore {padding-top: 0.25em;}

svg {width: 80%; height: auto; }

@media screen and (min-width: 875px) {/*if we're a bit bigger*/

    .skillName {
	text-align: center;
	margin: auto;
	padding: 0;
    }

    /*svg {height: 100%; margin: auto;}*/
    .skill {
	padding: 0.5em; margin: 0;
	height: 1em;
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: auto;
    }

    .skillName {
	text-align: right;
	padding-right: 1em;
	padding-bottom: 0.5em;
	margin-top: auto; margin-bottom: auto;
    }


}




	      



			    



    
