:root {
    --main-text-color: #e6dcdc;
    --menu-selection-text-color: #efcc00;
    --bold-color: #c8d2fa;
    --background-color: #141414;
    --link-hover-color: rgb(236,88,0);
}

@font-face {
    font-family:b612;src:url(font/B612-Regular.ttf)
}

@font-face {
    font-family:b612-italic;src:url(font/B612-Italic.ttf)
}

body {
    color: var(--main-text-color);
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: b612;    
}

#header {
    position: relative;
    top: 0vw; height: 8vh; width: 100%;
    margin: 0; padding: 0;
    border-color: #fff;
    border-width: 0 0 1px;
    border-style: solid
}

#header h1, #header #tagLine {z-index: 1; position: absolute; margin: 0; padding: 0;}
#tagLine {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#tagLine p {margin-top: 2px; margin-bottom: 0px; text-align: right; font-size: 1.5vh;}
#header h1 {left: 2px; bottom: 2px; font-size: 5vh;}
#header #tagLine {right: 2px; bottom: 2px;}

#header .background {
    z-index: -1;
    position: absolute;
    top: 0px; left: 0px; width: 100%; height: 8vh;
    overflow: none;
    display: block;
    -webkit-filter: blur(6px);
    object-fit: cover;
}

#mainMenu {
    height: 3vh;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 1px
}

#mainMenu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flow-start;
    padding: 0;
    margin: 0
}

#mainMenu ul li {
    padding: 5px 10px
}

#mainMenu ul li a:link,#mainMenu ul li a:visited,#mainMenu ul li a:active {
    text-decoration: none;
    color: var(--main-text-color);
}

#mainMenu ul li a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

#mainIFrameContainer {
    width: 100%; height:85vh; padding: 0; margin: auto; 
}
#mainIFrame {
    padding: 0; margin: 0;
    height: 85vh; width: 100%;
    border: none;
}